backcall==0.1.0
certifi==2020.4.5.1
cloudpickle==1.3.0
colorama==0.4.3
cycler==0.10.0
deap==1.3.1
decorator==4.4.2
entrypoints==0.3
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.17.0
jmetalpy==1.5.5
joblib==0.14.1
jupyter-client==6.1.3
jupyter-core==4.6.3
kiwisolver==1.2.0
llvmlite==0.32.0
matplotlib==3.2.1
numba==0.49.0
numpy==1.18.3
pandas==1.0.3
parso==0.7.0
patsy==0.5.1
pickleshare==0.7.5
plotly==4.6.0
prompt-toolkit==3.0.5
Pygments==2.6.1
pygmo==2.13.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
pywin32==227
pyzmq==19.0.0
retrying==1.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
statsmodels==0.11.1
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.3
wcwidth==0.1.9
wincertstore==0.2
